@charset "utf-8";
/* CSS Document */


.chatBox {
	width: 275px;
	position: absolute;
	bottom: 0;
	right: 0px;
	background: #fff;
	z-index: 1000;
	display:none;
}
.chatBox.expandfull {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.chatBox .title {
	font-size: 14px;
	color: #fff;
	padding: 0px;
	font-weight: bold;
	background: #666;
}
.chatBox .title .chatIcon {
	padding: 5px 5px;
	font-size: 18px;
	display: inline-block;
	background: #333;
	float: left;
	width: 20px;
}
.chatBox .title .name {
	padding: 7px 0 0 10px;
	display: inline-block;
	float: left;
	width: 50%;
	overflow: hidden;
}
.chatBox .title .icon {
	padding: 5px;
	padding: 5px 3px;
	margin: 2px 5px 0;
	float: right;
	display: inline-block;
	font-size: 16px;
	color: #fff;
}
.chatBox .title .icon:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.chatBox .title .compress {
	display: none;
}
.chatBox .chatContainer {
	padding-top:10px;
	border: #ccc solid 1px; 
}

.chatBox .chatContainer .chatsWrap{
	padding:5px 20px 15px 10px;
	
}
.chatContainer .chats {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.chatContainer .chats li {
	padding: 0 0 8px;
	margin: 0 0 8px;
	list-style: none;
}
.thumb-sm {
	width: 34px;
	display: inline-block;
}
.avatar {
	position: relative;
	display: block;
	border-radius: 50%;
	white-space: nowrap;
	width: 50px;
}
.avatar img {
	border-radius: 50%;
	width: 100%;
	border: #CCC solid 1px
}
.chats .by-me .chat-content {
	margin-left: 65px;
	position: relative;
	background: #fff;
	border: 1px solid #ddd;
	padding: 7px 10px;
	border-radius: 5px;
	font-size: 12px;
}
.chats .by-other .chat-content {
	margin-right: 65px;
	position: relative;
	background: #f9f9f9;
	border: 1px solid #ddd;
	padding: 7px 10px;
	border-radius: 5px;
	font-size: 12px;
}
.chats .chat-meta {
	color: #999;
	padding-bottom: 5px;
}
.chats .by-me .chat-content:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 10px 8px 0px;
	border-color: transparent #ddd;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -10px;
	left: -10px;
	top: 25px;
}
.chats .by-other .chat-content:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 0 8px 10px;
	border-color: transparent #ddd;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -10px;
	right: -10px;
	top: 25px;
}
.chatContainer .chatboxFooter { 
	border-top: #ccc solid 1px;
	padding:8px 0;
	margin-top:10px;}
.chatContainer .chatboxFooter textarea { 
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	margin:0 10px;
	width:90%;
	height:auto;
}
	
#chatWindow {
	width:100%;
	position:relative;
}
#chatWindow .title {
	background:#3a3633;
	padding:10px;
	font-size:18px;
	color:#a8a8a8;
}
#chatWindow .chatlist {
	display:block;
	font-size:14px;
	padding-right:0px;
}
#chatWindow .listTitle {
	color:#333;
	padding:8px 10px;
	display:block; 
	border-top:#f0f0f0 solid 1px;
	border-bottom:#f0f0f0 solid 1px;
}
#chatWindow .modename {
	float:left;
		
	display:inline-block;}
 #chatWindow .listTitle .up, #chatWindow .listTitle .down {
	 float:right;
 }
#chatWindow .listTitle .up {
	display:none;
}
#chatWindow .avatar { 
	width: 42px;
}
#chatWindow .list-group {
	padding: 0px 0;
	margin:0px;
	list-style:none;
}
#chatWindow .list-group .media-body {
	margin-left: 5px;
	position: relative; 
	padding:0; 
	font-size: 12px;
	display: inline-block;
}

#chatWindow .list-group li{ 
	padding:5px  10px;
	cursor:pointer;
	position:relative;
}

#chatWindow .list-group li:hover{
	background:#f5f5f5;
}
#chatWindow .list-group li:first-child{
	border:none; 
}
#chatWindow .list-group .media-body .name{
	font-size:16px;
	font-weight:300;
	line-height:30px
} 
#chatWindow .list-group .media-body .name.offline{
	color:#b1b6bb; 
} 
#chatWindow .list-group .media-body small{
	color:#999;
}
#chatWindow .list-group .fa {
	margin-left:-12px;
}

#chatWindow .list-group .on {background-color: #1aae88; 
}

.avatar i {
position: absolute;
  right: 11px;
  bottom: 0px;
  width: 12px;
  height: 12px;
  border: #fff solid 2px;
  border-radius: 100%;
}
.actionsSec i {   
width: 8px;
display:inline-block;
height: 8px;  
border-radius:50%;
margin-right:5px;
margin-top:2px;
}
i.on {
background-color: #1aae88;
}
i.busy {
background-color: #e33244;
}i.away {
background-color: #fcc633;
}
i.offline {
background-color: #a1a8ac;
}

i.signOut {
	color:#CCC;
	line-height:14px;
}
i.addUser {
	color:#428bca;
	line-height:14px;
}
#chatWindow .actions {
	background:#e8e7e6;
	padding:5px 10px;
	position:relative;
}

#chatWindow .actions .arrow{
	margin-left:10px;
	margin-top:10px;
	font-size:14px;
	vertical-align:middle;
}
#chatWindow .actions .actionsSec {
	position:absolute;
	top:40px;
	left:10px;
	padding:10px;
	width:200px;
	border:#CCC solid 1px;
	background:#fff;
	z-index:1100;
	display:none;
}

#chatWindow .actions .actionsSec ul {
	margin:5px 0;
	padding:0px;
	list-style:none;
	border-bottom:#f0f0f0 solid 1px;
}


#chatWindow .actions .more{
	display:block;
}

#chatWindow .actions .actionsSec ul li a{
	display:block;
	padding:5px;
}
#chatWindow .actions .actionsSec ul li a:hover{
	text-decoration:none;
	background:#f5f5f5;
}

#chatWindow  .chatFooter { 
	border-top: #ccc solid 1px;
	padding:5px 10px;
 margin-top:10px;}

#chatWindow  .chatFooter input{
	border:none;
	width:100%;
	padding:5px 0;
}
.chatPopup {
	position:absolute;
	left:-0px;
	top:20px;
	width:252px;
	padding:10px;
	background:#fff;
	border:#ccc solid 1px;
	z-index:111111;
	display:none;
}

.chatPopup img {
	float:right;
	width:80px;
	border:#ccc solid 2px;
	margin-left:10px; 
	
}

.chatPopup  .details {
	float:left;
	width:140px;
}
.chatPopup p {
	padding:0px;
	margin:0px;
}
.chatPopup .name{
	font-size:16px;
	font-weight:bold;
	padding:5px 0;
}
.chatPopup .contact{
	padding:5px 0 0;
	color:#666
}
 