/*
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/
@font-face {
	font-family: 'ss_gizmoregular';
	src: url('font-icons/ss-gizmo-webfont.eot');
	src: url('font-icons/ss-gizmo-webfont.eot?#iefix') format('embedded-opentype'), url('font-icons/ss-gizmo-webfont.woff2') format('woff2'), url('font-icons/ss-gizmo-webfont.woff') format('woff'), url('font-icons/ss-gizmo-webfont.ttf') format('truetype'), url('font-icons/ss-gizmo-webfont.svg#ss_gizmoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('proxima/proximanova-bold-webfont.eot');
	src: url('proxima/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('proxima/proximanova-bold-webfont.woff2') format('woff2'),  url('proxima/proximanova-bold-webfont.woff') format('woff'),  url('proxima/proximanova-bold-webfont.ttf') format('truetype'),  url('proxima/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_ltlight';
	src: url('proxima/proximanova-light-webfont.eot');
	src: url('proxima/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),  url('proxima/proximanova-light-webfont.woff2') format('woff2'),  url('proxima/proximanova-light-webfont.woff') format('woff'),  url('proxima/proximanova-light-webfont.ttf') format('truetype'),  url('proxima/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('proxima/proximanova-reg-webfont.eot');
	src: url('proxima/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),  url('proxima/proximanova-reg-webfont.woff2') format('woff2'),  url('proxima/proximanova-reg-webfont.woff') format('woff'),  url('proxima/proximanova-reg-webfont.ttf') format('truetype'),  url('proxima/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_ththin';
	src: url('proxima/proximanova-thin-webfont.eot');
	src: url('proxima/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),  url('proxima/proximanova-thin-webfont.woff2') format('woff2'),  url('proxima/proximanova-thin-webfont.woff') format('woff'),  url('proxima/proximanova-thin-webfont.ttf') format('truetype'),  url('proxima/proximanova-thin-webfont.svg#proxima_nova_ththin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_blblack';
	src: url('proxima/proximanova-black-webfont.eot');
	src: url('proxima/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),  url('proxima/proximanova-black-webfont.woff2') format('woff2'),  url('proxima/proximanova-black-webfont.woff') format('woff'),  url('proxima/proximanova-black-webfont.ttf') format('truetype'),  url('proxima/proximanova-black-webfont.svg#proxima_nova_blblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_ltsemibold';
	src: url('proxima/proximanova-sbold-webfont.eot');
	src: url('proxima/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),  url('proxima/proximanova-sbold-webfont.woff2') format('woff2'),  url('proxima/proximanova-sbold-webfont.woff') format('woff'),  url('proxima/proximanova-sbold-webfont.ttf') format('truetype'),  url('proxima/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_thextrabold';
	src: url('proxima/proximanova-xbold-webfont.eot');
	src: url('proxima/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),  url('proxima/proximanova-xbold-webfont.woff2') format('woff2'),  url('proxima/proximanova-xbold-webfont.woff') format('woff'),  url('proxima/proximanova-xbold-webfont.ttf') format('truetype'),  url('proxima/proximanova-xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
}
body {
	padding-top: 0px;
	color: #5c4f4a;
	background: #fff;
	font-family: 'proxima_nova_rgregular';
}
body
{
	/* Font */
	/* Remove the background color to make it transparent */
	background-color: #fff;

	margin: 20px;
}
p:first-child{
	font-size:22px;
	border-bottom:solid 1px #ddd;
	padding-bottom:10px;
	margin-bottom:20px	
}
.cke_editable
{
	font-size: 13px;
	line-height: 1.6;
}

blockquote
{
	font-style: italic;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}
