p:empty {
  display: none;
  }

  .list_container {
    padding: 20px 30px;
    background: #FFF;
    min-height: 100px;
    max-height: 900px;
    overflow: auto;
    outline: none;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    resize: vertical;
}
.list_container h1 {
  margin: 0px;
}
.vertical-tabs,.filter-wrapper, label, .form-item .description{ display: none}
/*.form-submit{ float:right;}*/
.form-text {
        width: 91.7%;
    border: none;
    border-bottom: 1px #ccc solid;
	font-size: 21px;
    color: #5c4f4a;
    font-family: "proxima_nova_ltsemibold";
    border-bottom: solid 1px #dfdfde;
    padding-bottom: 15px;
	    margin: 0px 17px;
}
.form-text:focus{
	box-shadow:none	;
	outline:none;
	 border-bottom: 1px #ccc solid;
}
table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  width:100%;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}
.list_container {
    padding: 20px 30px;
    background: #FFF;
    min-height: 100px;
    max-height: 900px;
    overflow: auto;
    outline: none;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    resize: vertical;
}
.editor_container {
    padding: 0px 0px 20px;
    background: #FFF;
    min-height: 100px;
    max-height: 900px;
    overflow: hidden;
    outline: none;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    resize: vertical;
	box-shadow: 0 0 3px #999;
     -webkit-box-shadow: 0px 1px 3px #999; 
    -moz-box-shadow: 0 0 3px #999;
}
.file-upload {
    margin: -70px 30px 25px;
    border-top: solid 1px #dfdfde;
    padding-top: 20px;

}
.editor-img {
    max-width: 500px;
    margin-bottom: 10px;
}
.image-widget-data .form-submit{  
 margin-top:0px;
    background: #fd7761;
    color: #fff;
    border: none;
    float:left;
  margin-top: 10px !important
}
.bottom-buttons .form-submit{  

    background: #fd7761;
    border-radius: 0;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    font-family: "proxima_nova_ltsemibold";
    padding: 7px 15px;
    min-width: 165px;
	/*margin-top:15px*/
}

#edit-field-thumbnail-und-0-remove-button.form-submit.ajax-processed{
   
    float: none;
    margin-top: 10px;
}

#edit-field-thumbnail-und-0-upload-button{
  
}
#edit-field-thumbnail-und-0-ajax-wrapper{
	margin:0 17px	
}
#edit-field-thumbnail-und-0-ajax-wrapper .form-file{
	float:left	
}
#edit-field-thumbnail-und-0-ajax-wrapper .form-item
{
	overflow: hidden;	
}
.list_container{
	max-width:100%;
	height:auto	
}
.field-label,.username, .form-item-name label{display: none;}
.form-group label{display: inline; }
.form-item label{display: none;}
#edit-author--2{display: none;}
.flag-throbber{display: none}
.comments-block .form-horizontal { padding: 0;}
.media_embed{width:100% !important;}


.flag, .login-register a{
    border-radius: 0;
    text-transform: uppercase;
    border: 0;
    color: #5c4f4a;
    font-family: "proxima_nova_ltsemibold";
    padding: 7px 15px;
    min-width: 165px;
background-color: #fff;
    border-color: #ccc;
display: inline-block;
bottom: 0px;
    text-align: center;
    position:fixed;
    bottom:30px;

}

.login-register a{
    border-radius: 0;
    text-transform: uppercase;
    border: 0;
    color: #5c4f4a;
    font-family: "proxima_nova_ltsemibold";
    padding: 7px 15px;
    min-width: 165px;
background-color: #fff;
    border-color: #ccc;
display: inline-block;
    text-align: center;
    position:fixed;

    } 
.form-submit{
color: #fff;
  margin-bottom: 20px;
  border-radius: 0;
    text-transform: uppercase;
    border: 0;
    background: #fd7761;
    font-family: "proxima_nova_ltsemibold";
    /*padding: 7px 15px;*/
    min-width: 90px;
    border-color: #ccc;
display: inline-block;
}

.resizable-textarea .grippie{
  display: none;
}
.mrg-top0{
  margin-top:0px;
}
iframe{
      width: 100% !important;
    
}
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.fieldset-wrapper .node-autosave-notice{ display: none}
/*.node-autosave-notice{ border : 1px solid #ff0000;}
#block-system-main{ display:none;}*/
.cke_bottom{ display: none !important;}
tbody{border-top: none !important; }

.comment-text img{width: 100% !important; height : auto !important;}

.form-horizontal .form-group .form-item .form-text{
  display: block;
    width:90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    
  
  
}
.form-horizontal{
  padding-top: 0px;
}
    /* font-size: 21px; */

.form-item{
  margin: 0px;
}
.mrgbottom40{margin-bottom: 40px;}
.mrgbottom80{ margin-bottom: 80px;}
.mrgbottom120{margin-bottom: 120px;}
.list_container img{width:100%;}