/*!
 * FullCalendar v2.3.2 Stylesheet
 * Docs & License: http://fullcalendar.io/
 * (c) 2015 Adam Shaw
 */


body .fc {
	font-size: 26px;
	font-weight: 200
}
.fc-unthemed th {
	border: 0 !important
}
.fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
	border-color: #fff;
}
.fc-unthemed .fc-today {
	background: #fff;
}
.fc-highlight {
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30);
}
.fc-clear {
	clear: both;
}
.fc-bg, .fc-bgevent-skeleton, .fc-highlight-skeleton, .fc-helper-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.fc-bg {
	bottom: 0;
}
.fc-bg table {
	height: 100%;
}
.fc table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
}
.fc th {
	text-align: center;
}
.fc th, .fc td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top;
	
}
.fc th:first-child,.fc td:first-child {
	border-left:none;
}
.fc td.fc-today {
	border-style: double;
}
.fc .fc-row {
	border-style: solid;
	border-width: 0;
}
.fc-row.fc-widget-header th {
	background: #f7e6ba;
	font-weight: 400;
	text-transform: uppercase;
	padding: 5px 0;
	font-size: 12px;
	color:#5c4f4a
}
.fc-row table {
	border-left: 0 hidden transparent;
	border-right: 0 hidden transparent;
	border-bottom: 0 hidden transparent;
}
.fc-row:first-child table {
	border-top: 0 hidden transparent;
}
.fc-row {
	position: relative;
}
.fc-row .fc-bg {
	z-index: 1;
}
.fc-row .fc-content-skeleton {
	position: relative;
	z-index: 4;
	padding-bottom: 2px;
}
.fc-row .fc-helper-skeleton {
	z-index: 5;
}
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
	background: none; /* in case <td>s are globally styled */
	border-color: transparent;
	border-bottom: 0;
}
.fc-row .fc-content-skeleton tbody td, .fc-row .fc-helper-skeleton tbody td {
	border-top: 0;
}
.fc-event {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 1.3;
	border-radius: 0px;
	border: 0px solid #3a87ad;
	background-color: #abdbcb;
	font-weight: normal;
}
.fc-event, .fc-event:hover, .ui-widget .fc-event {
	color: #fff;
	text-decoration: none;
}
.fc-event[href], .fc-event.fc-draggable {
	cursor: pointer;
}
.fc-not-allowed, .fc-not-allowed .fc-event {
	cursor: not-allowed;
}
.fc-event .fc-bg {
	z-index: 1;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25);
}
.fc-event .fc-content {
	position: relative;
	z-index: 2;
}
.fc-event .fc-resizer {
	position: absolute;
	z-index: 3;
}
.fc-day-grid-event {
	margin: 1px 0px 0;
	padding: 0 0px;
}
.fc-day-grid-event .fc-content { 
	overflow: hidden;
}
.fc-day-grid-event .fc-time {
	font-weight: bold;
}
.fc-day-grid-event .fc-resizer {
	left: -3px;
	right: -3px;
	width: 7px;
}
.fc-toolbar {
	text-align: center;
	margin-bottom: 1em;
	display: none
}
.fc-toolbar .fc-left {
	float: left;
}
.fc-toolbar .fc-right {
	float: right;
}
.fc-toolbar .fc-center {
	display: inline-block;
}
.fc .fc-toolbar > * > * {
	float: left;
	margin-left: .75em;
}
.fc .fc-toolbar > * > :first-child {
	margin-left: 0;
}
.fc-toolbar h2 {
	margin: 0;
}
.fc-toolbar button {
	position: relative;
}
.fc-toolbar .fc-state-hover, .fc-toolbar .ui-state-hover {
	z-index: 2;
}
.fc-toolbar .fc-state-down {
	z-index: 3;
}
.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
	z-index: 4;
}
.fc-toolbar button:focus {
	z-index: 5;
}
.fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.fc-view, .fc-view > table {
	position: relative;
	z-index: 1;
	background: #f8efc6
}
.fc-basicWeek-view .fc-content-skeleton, .fc-basicDay-view .fc-content-skeleton {
	padding-top: 1px;
	padding-bottom: 1em;
}
.fc-basic-view .fc-body .fc-row {
	height: 63px !important;
}
.fc-row.fc-rigid {
	overflow: hidden;
}
.fc-row.fc-rigid .fc-content-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number {
	padding: 0 2px;
}
.fc-basic-view td.fc-week-number span, .fc-basic-view td.fc-day-number {
	padding-top: 2px;
	padding-bottom: 2px;
}
.fc-basic-view .fc-week-number {
	text-align: center;
}
.fc-basic-view .fc-week-number span {
	display: inline-block;
	min-width: 1.25em;
}
.fc-ltr .fc-basic-view .fc-day-number {
	text-align: center;
}
.fc-rtl .fc-basic-view .fc-day-number {
	text-align: left;
}
.fc-day-number.fc-other-month {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
