@charset "utf-8";
/* CSS Document */ 
@font-face {
	font-family: 'ss_gizmoregular';
	src: url('font-icons/ss-gizmo-webfont.eot');
	src: url('font-icons/ss-gizmo-webfont.eot?#iefix') format('embedded-opentype'), url('font-icons/ss-gizmo-webfont.woff2') format('woff2'), url('font-icons/ss-gizmo-webfont.woff') format('woff'), url('font-icons/ss-gizmo-webfont.ttf') format('truetype'), url('font-icons/ss-gizmo-webfont.svg#ss_gizmoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('proxima/proximanova-bold-webfont.eot');
	src: url('proxima/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('proxima/proximanova-bold-webfont.woff2') format('woff2'), url('proxima/proximanova-bold-webfont.woff') format('woff'), url('proxima/proximanova-bold-webfont.ttf') format('truetype'), url('proxima/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_ltlight';
	src: url('proxima/proximanova-light-webfont.eot');
	src: url('proxima/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('proxima/proximanova-light-webfont.woff2') format('woff2'), url('proxima/proximanova-light-webfont.woff') format('woff'), url('proxima/proximanova-light-webfont.ttf') format('truetype'), url('proxima/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('proxima/proximanova-reg-webfont.eot');
	src: url('proxima/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('proxima/proximanova-reg-webfont.woff2') format('woff2'), url('proxima/proximanova-reg-webfont.woff') format('woff'), url('proxima/proximanova-reg-webfont.ttf') format('truetype'), url('proxima/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_ththin';
	src: url('proxima/proximanova-thin-webfont.eot');
	src: url('proxima/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'), url('proxima/proximanova-thin-webfont.woff2') format('woff2'), url('proxima/proximanova-thin-webfont.woff') format('woff'), url('proxima/proximanova-thin-webfont.ttf') format('truetype'), url('proxima/proximanova-thin-webfont.svg#proxima_nova_ththin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_blblack';
	src: url('proxima/proximanova-black-webfont.eot');
	src: url('proxima/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'), url('proxima/proximanova-black-webfont.woff2') format('woff2'), url('proxima/proximanova-black-webfont.woff') format('woff'), url('proxima/proximanova-black-webfont.ttf') format('truetype'), url('proxima/proximanova-black-webfont.svg#proxima_nova_blblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_ltsemibold';
	src: url('proxima/proximanova-sbold-webfont.eot');
	src: url('proxima/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('proxima/proximanova-sbold-webfont.woff2') format('woff2'), url('proxima/proximanova-sbold-webfont.woff') format('woff'), url('proxima/proximanova-sbold-webfont.ttf') format('truetype'), url('proxima/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_thextrabold';
	src: url('proxima/proximanova-xbold-webfont.eot');
	src: url('proxima/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'), url('proxima/proximanova-xbold-webfont.woff2') format('woff2'), url('proxima/proximanova-xbold-webfont.woff') format('woff'), url('proxima/proximanova-xbold-webfont.ttf') format('truetype'), url('proxima/proximanova-xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	padding-top: 50px;
	color: #899199;
	background: #e7e3df;
	font-family: 'proxima_nova_rgregular';
}


/*Padding and Margins */

.mb5{
	margin-bottom: 5px !important;
}
.mb20{
	margin-bottom: 20px !important;
}
.mt20{
	margin-top: 20px !important;
}
.mt40{
	margin-top: 40px !important;
}
.mt10{
	margin-top: 10px !important;
}
.mb55{
	margin-bottom: 55px;
}
.p15{
	padding: 15px !important;
}
.pb0{
	padding-bottom: 0px !important;
}
.pt0{
	padding-top: 0px !important;
}
.p0{
	padding: 0 !important;
}
.pb5{
	padding-bottom: 5px !important;
}

/*font weight*/
.text-thin {
	font-family: 'proxima_nova_ththin';
}
.text-light {
	font-family: 'proxima_nova_ltlight';
}
.text-reg {
	font-family: 'proxima_nova_rgregular';
}
.text-semi {
	font-family: 'proxima_nova_ltsemibold';
}
.text-bold {
	font-family: 'proxima_nova_rgbold';
}
.text-extra {
	font-family: 'proxima_nova_thextrabold';
}
.text-blblack {
	font-family: 'proxima_nova_blblack';
}


/*-- Header part --*/
.nav.landing li .ss-icon {
	font-size: 21px;
	vertical-align: middle;
	margin-right: 23px;
	line-height: 21px;
	display: inline-block;
	padding: 17px 0 12px;
	background: #fd7761;
	color: #fff;
}
.nav.landing>li span {
	display: inline-block;
	padding: 16px 0px 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	font-family: 'proxima_nova_ltsemibold';
}
.user-guest {
	font-family: 'proxima_nova_ltsemibold';
	margin: 8px 0px 0 0px;
	line-height: 30px;
	position: relative;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: solid 3px #fd7761;
	margin-right: 14px;
	background: #dbdbdb;
	padding-top: 1px;
}
.user-guest .ss-icon, .user-guest .ss-icon:before {
	font-size: 25px;
	float: none;
	width: auto;
	color: #fff;
	vertical-align: text-bottom;
	margin-left: 1px
}

body.admin-menu{margin-top:0px !important;}

.login {
	font-size: 16px;
	color: #899199;
	margin: 15px 20px 0 30px;
	text-transform: uppercase;
	z-index: 10;
	position: relative;
}
.login a {
	color: #899199;
}
.login a:hover {
	color: #fd7761;
	text-decoration: none
}
.nav-land{
	padding: 0 !important;
	    color: #899199;
}
.nav.landing li a:hover, .nav.landing li a:focus {
	background: none
}
.left-sidebar .nav>li>a:hover .ss-icon, .left-sidebar .nav>li>a:focus .ss-icon, .left-sidebar .nav>li.active a .ss-icon {
	background: #fd7761;
	color: #fff;
}
.navbar-brand {
	height: 50px;
	padding: 16px 0px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	font-family: 'proxima_nova_ltsemibold';
	margin-left: 75px
}
.navbar-default .navbar-brand {
	color: #899199;
}
.navbar-default {
	background-color: #fff;
	border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a {
	color: #e9ac39;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'proxima_nova_ltsemibold';
	font-size: 18px;
	padding: 13px 25px;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 0px;
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	height: 50px
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fa765d;
	background-color: transparent;
	border-bottom: 5px solid #fa765d;
}
.navbar-nav.main-nav {
	float: none;
	margin: auto;
	width: 100%;
	position: absolute;
	display: table;
	text-align: center;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
}
.navbar-nav.main-nav>li {
	display: inline-block;
	float: none;
}
.navbar-header {
	width: 232px;
	position: relative;
	z-index: 1;
}
.top-search {
	margin: 10px 20px 0 0;
	position: relative;
	z-index: 1;
	width: 25px;
	overflow: hidden;
	height: 28px;
}
.top-search:hover, .top-search.active {
	width: 240px;
}
.top-search .search-box {
	width: 215px;
	margin-right: 5px;
	display: none;
	border: 0;
	outline: none;
	padding-top: 4px;
	border-bottom: solid 1px #ddd;
}
.search-box.active{
	display:block	
}

.top-search:hover .search-box {
	display: block
}
.top-search .ss-icon {
	width: 20px;
	margin-top: 5px;
	font-size: 19px;
	color: #899199;
	display: block;
}
.top-search a:hover, .top-search a:focus {
	text-decoration: none
}
.search-control {
	border: 0;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	color: #7c848d;
	border-bottom: solid 1px #f3f3f2;
	padding-bottom: 8px
}
.user-sec {
	font-size: 16px;
	font-family: 'proxima_nova_ltsemibold';
	margin: 8px 15px 0 0;
	line-height: 30px;
	position: relative;
	z-index: 1;
	white-space: nowrap;
	color: #899199;
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out;
	
}
.user-sec a, .journal-blocks a{
	color: #899199;	
}
.user-sec.toggle-img {
	width: 245px
}

/*banner*/
.carousel, .carousel .item {
	min-height: 430px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.carousel-control span {
	position: absolute;
	top: 50%;
	width: 29px;
	height: 52px;
	text-indent: -9999px;
	margin-top: -26px;
	overflow: hidden;
	background: url("../images/sprite.png") 0 0 no-repeat;
	cursor: pointer;
	z-index: 5;
}
.carousel-control span.left {
	background-position: 0 0px;
}
.carousel-control span.right {
	background-position: -150px 0;
}
.carousel-caption {
	top: 70px;
	text-shadow: 0 1px 2px rgba(0,0,0,.4);
	left: 20px;
	right: 0;
}
.carousel-caption .black {
	color: #000
}
.carousel-indicators li {
	border: none;
	margin: 0px;
	background: rgba(255,255,255, 0.5);
}
.carousel-indicators .active {
	width: 10px;
	height: 10px;
	border: none;
}
.carousel-indicators {
	bottom: 105px;/*transform: translateY(65%)*/
}
.carousel-caption.dark-text {
	color: #5c4f4a;
}
.carousel-caption h1 {
	font-size: 30px;
	font-weight: 500;
	padding: 10px 0px 25px;
}
.carousel-caption h5 {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: 300;
}
.carousel-caption .btn {
	background: #fd7761;
	color: #fff;
	border: 0;
	border-radius: 0;
	font-size: 18px;
	font-weight: 400;
	font-family: 'proxima_nova_ltsemibold';
	padding: 5px 25px
}
.carousel-control {
	display: none;
	z-index:10
}
.carousel:hover .carousel-control {
	display: block;
	background:none;
}
.landing-banner .btn {
	width: 160px;
	background: #fcc150
}
.carousel-control.right:hover{

	background:none;
}

@media (min-width: 992px) {
.carousel, .carousel .item {
	height: 450px;
}
.carousel-caption h1 {
	font-size: 48px;
}
.carousel-caption h5 {
	font-size: 28px;
}
}
.left-sidebar, .right-sidebar {
	position: fixed;
	top: 0;
	background: #3b4853;
	width: 52px;
	overflow: hidden;
	z-index: 9999;
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out;
	height: 100%;
	white-space: nowrap;
}
.left-sidebar .ss-icon, .right-sidebar .ss-icon, .editor-container .ss-icon, .home-pods-footer .ss-icon, .nav.landing li .ss-icon {
	width: 52px;
	float: left;
}
.left-sidebar {
	left: 0;
}
.right-sidebar {
	top: 45px;
	right: 0;
	background: #fff;
	z-index: 999;
	padding-top: 16px;
	font-size: 16px;
}
.left-sidebar:hover, .right-sidebar:hover {
	width: 252px;
}
.sidebar-nav {
	padding: 0;
}
.left-sidebar .navbar-default {
	background-color: transparent;
	border-color: #e7e7e7;
}
.left-sidebar .nav>li {
	overflow: hidden
}
.left-sidebar .nav>li.divider {
	height: 1px;
	margin: 0px 0 0px 17px;
	overflow: hidden;
	background-color: #3b4853;
}
.left-sidebar:hover .nav>li.divider {
	background-color: #575f67;
}
.left-sidebar .nav>li>a {
	color: #fff;
	padding: 0px;
	font-size: 16px;
	font-weight: 300;
	overflow: hidden;
}
.left-sidebar .nav>li>a .ss-icon {
	font-size: 21px;
	vertical-align: middle;
	margin-right: 19px;
	line-height: 21px;
	display: inline-block;
	padding: 17px 0 12px;
}
.left-sidebar.inner .nav>li>a .ss-icon {
	color: #525a62
}
.left-sidebar.inner:hover .nav>li>a .ss-icon {
	color: #fff
}
.left-sidebar .nav>li>a span {
	display: inline-block;
	padding: 14px 0
}
.left-sidebar .nav>li>a:hover, .left-sidebar .nav>li>a:focus, .left-sidebar .nav>li.active a {
	background: #ff9280;
	background: #323d47;
	color: #fff;
}
.left-sidebar .nav>li>a:hover .ss-icon, .left-sidebar .nav>li>a:focus .ss-icon, .left-sidebar .nav>li.active a .ss-icon {
	background: #fd7761;
	background: #29323a;
	color: #fff;
}
.left-sidebar .nav>li:first-child>a:hover, .left-sidebar .nav>li:first-child>a:focus, .left-sidebar .nav>li:first-child.active a {
	background: #ff9280;
	color: #fff;
}
.left-sidebar .nav>li:first-child>a:hover .ss-icon, .left-sidebar .nav>li:first-child>a:focus .ss-icon, .left-sidebar .nav>li:first-child.active a .ss-icon {
	background: #fd7761;
	color: #fff;
}
.left-sidebar .nav>li:first-child a {
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	font-weight: 400;
	font-family: 'proxima_nova_ltsemibold';
}
.logo {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	font-family: 'proxima_nova_ltsemibold';
}
 input.search-control::-webkit-input-placeholder {
 color: #899199;
}
.forum {
	padding: 10px 0;
	position: relative
}
.right-sidebar:hover .forum span {
	border-bottom: solid 1px #f3f3f2;
}
.forum span {
	display: inline-block;
	width: 194px;
	padding-bottom: 8px;
	float: right
}
.forum .ss-icon {
	margin-right: 7px;
	font-size: 14px;
	color: #bcbfc2;
	position: absolute;
	left: 9px;
	top: 9px;
	width: 25px
}
.forum .ss-icon+.ss-icon {
	top: 18px;
	left: 17px;
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
.search-control:focus {
	box-shadow: none
}
.home-pods-sec {
	margin-top: -80px;
	padding-bottom: 30px;
}
.home-pods {
	background: #fff;
	border-top: solid 10px #fcc150;
	-webkit-box-shadow: 0 4px 4px -2px #aaa;
	-moz-box-shadow: 0 4px 4px -2px #aaa;
	box-shadow: 0 4px 4px -1px #aaa;
	margin: 0 40px 20px;
}
@media (min-width: 992px) {
.home-pods {
	width: 400px;
	margin: 0
}
}
@media (min-width: 1200px) {
/*.home-pods {
	max-width: 450px;
	min-width: 450px;
}*/
}
@media (max-width: 992px) {
.home-pods {
	float: none !important
}
}
.home-pods:hover, .family-dinners.active, .try-cycling.active {
	border-top: solid 10px #fa765d;
}
.home-pods-header, .home-pods-body {
	padding: 15px 20px 12px;
}
.home-pods h2 {
	font-size: 21px;
	color: #5c4f4a;
	font-weight: 500;
	margin: 0;
	font-family: proxima_nova_ltsemibold;
}
.home-pods-footer {
	background: #fbfaf8;
	padding: 0 0 0 20px
}
.home-pods-footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.home-pods-footer li {
	float: left;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	margin-right: 20px;
	padding: 16px 0 11px;
	line-height: 23px;
}
.home-pods-footer .ss-icon {
	font-size: 17px;
	margin-right: 5px;
	padding: 0px;
	width: 20px
}
.home-pods-footer .ss-icon:before {
	width: 20px
}
.home-pods-footer li a {
	color: #899199;
}
.home-pods-footer .share {
	width: 50px;
	background: #f3f3f2;
	text-align: center;
}
.home-pods-footer .share a {
	display: inline-block;
}
.home-pods-footer .share, .home-pods-footer .share .ss-icon {
	margin: 0;
	color: #fd7761;
}
.landing-pod, .landing-pod:hover {
	border: 0;
	color: #5c4f4a;
	padding: 0
}
.landing-pod h2 {
	color: #ebb24c;
	margin-top: 12px
}
.landing-pod .home-pods-footer {
	padding: 0
}
.landing-pod .home-pods-footer a {
	display: block;
	background: #fd7761;
	color: #fff;
	font-size: 18px;
	line-height: 35px
}
.landing-pod a:hover {
	text-decoration: none
}
#home-graph {
	width: 100%;
	height: 155px;
	margin: 0px auto 0 auto;
	background: #f0f9ff;
	background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 0%, #f8e2d9 0%, #f8cfc8 82%, #f7cabb 82%, #f7cabb 82%, #f7cabb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f9ff), color-stop(0%, #cbebff), color-stop(0%, #f8e2d9), color-stop(82%, #f8cfc8), color-stop(82%, #f7cabb), color-stop(82%, #f7cabb), color-stop(100%, #f7cabb));
	background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 0%, #f8e2d9 0%, #f8cfc8 82%, #f7cabb 82%, #f7cabb 82%, #f7cabb 100%);
	background: -o-linear-gradient(top, #f0f9ff 0%, #cbebff 0%, #f8e2d9 0%, #f8cfc8 82%, #f7cabb 82%, #f7cabb 82%, #f7cabb 100%);
	background: -ms-linear-gradient(top, #f0f9ff 0%, #cbebff 0%, #f8e2d9 0%, #f8cfc8 82%, #f7cabb 82%, #f7cabb 82%, #f7cabb 100%);
	background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 0%, #f8e2d9 0%, #f8cfc8 82%, #f7cabb 82%, #f7cabb 82%, #f7cabb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#f7cabb', GradientType=0 );
}
/*morris styels*/
.morris-hover {
	position: absolute;
	z-index: 1000;
}
.morris-hover.morris-default-style {
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
	background: rgba(0,0,0,0.5);
	border: solid 1px rgba(230,230,230,0.8);
	font-size: 12px;
	text-align: center
}
.morris-hover.morris-default-style .morris-hover-row-label {
	font-weight: bold;
	font-family: 'proxima_nova_ltsemibold';
	margin: 0.25em 0
}
.morris-hover.morris-default-style .morris-hover-point {
	white-space: nowrap;
	margin: 0.1em 0
}
/* /.morris styels*/

/*Chat styles*/
.chatBox {
	width: 275px;
	position: absolute;
	bottom: 0;
	right: 0px;
	background: #fff;
	z-index: 1000;
	display: none;
}
.chatBox .title .name {
	padding: 7px 0 0 10px;
	display: inline-block;
	float: left;
	width: 50%;
	overflow: hidden;
}
.chatBox .avatar {
	position: relative;
	display: block;
	border-radius: 50%;
	white-space: nowrap;
	width: 50px;
	margin-top: 8px
}
.chatBox .avatar img {
	border-radius: 50%;
	width: 100%;
	border: #CCC solid 1px
}
#chatWindow .chatlist {
	display: block;
	font-size: 14px;
	padding-right: 0px;
}
#chatWindow .avatar {
	width: 42px;
}
#chatWindow .list-group {
	padding: 0px 0;
	margin: 0px;
	list-style: none;
}
#chatWindow .list-group .media-body {
	margin-left: 5px;
	position: relative;
	padding: 6px 0;
	font-size: 12px;
	border-bottom: solid 1px #f3f3f2;
	display: inline-block;
}
.right-sidebar:hover #chatWindow .list-group li:last-child .media-body, .right-sidebar:hover #chatWindow .list-group li:first-child .media-body {
	border: 0
}
.right-sidebar:hover .chatlist, .right-sidebar:hover #chatWindow .list-group li:first-child {
	border-bottom: solid 1px #d8d8d5;
}
#chatWindow .ss-users {
	font-size: 27px;
	color: #fcc150;
	margin-top: 12px;
	float: left;
	margin-right: 10px;
}
.right-sidebar:hover #chatWindow .ss-users {
}
#chatWindow .list-group li {
	padding: 0 10px;
	cursor: pointer;
	position: relative;
}
#chatWindow .list-group li:hover {
	background: #f5f5f5;
}
#chatWindow .list-group li:first-child {
	border: none;
}
#chatWindow .list-group .media-body .name {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	width: 195px;
	white-space: normal;
}
#chatWindow .list-group .offline {
	color: #b1b6bb;
}
#chatWindow .list-group .online {
	color: #1dc3a6;
}
#chatWindow .list-group .offline .name {
	color: #acb2b7;
}
#chatWindow .list-group .media-body small {
	color: #999;
}
#chatWindow .list-group .fa {
	margin-left: -12px;
}
#chatWindow .list-group .on {
	background-color: #1aae88;
}
.avatar i {
	position: absolute;
	right: 11px;
	bottom: 0px;
	width: 12px;
	height: 12px;
	border: #fff solid 2px;
	border-radius: 100%;
}
/* /.Chat styles*/

/*-- caleder styles */
#calendar .date {
// min-height:58px;
	line-height: 58px;
	position: relative;
	font-weight: 200;
	font-family: proxima_nova_ththin
}
#calendar .fc-past {
	color: #b4ab90;
}
#calendar .fc-future {
	color: #5c4f4a;
}
#calendar .fc-today {
	color: #5c4f4a;
}
#calendar .fc-today .date:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	content: "TODAY";
	font-size: 12px;
	text-align: center;
	line-height: 12px;
}
.fc-day-grid-event {
	margin-left: 0px;
	margin-right: 0px;
}
.fc-day-grid-event .fc-content {
	position: absolute;
	background: #acdbca;
	position: absolute;
	width: 100%;
	top: -63px;
	text-align: center;
	left: 0px;
	height: 60px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
	padding-top: 5px;
	vertical-align: middle;
}
.fc-day-grid-event .fc-content .fc-title, .fc-day-grid-event .fc-content .fc-time {
	display: block;
}

/*inner*/
.three-column {
	display: table;
}
.left-sec {
	width: 160px
}
.right-sec {
	width: 640px
}
.filter {
	display: block;
	background: url(../images/filter-icon.png) 10px 8px no-repeat #fff;
	color: #a5acb1;
	padding: 5px 10px 5px 35px;
	font-family: 'proxima_nova_ltlight';
	margin-bottom: 15px
}
.white-pod-common {
	background: #fff;
	webkit-box-shadow: 0 4px 4px -2px #aaa;
	-moz-box-shadow: 0 4px 4px -2px #aaa;
	box-shadow: 2px 2px 5px #aaa;
}
.page-heading {
	padding: 20px;
	padding-top: 12px;
}
.page-heading h1 {
	font-size: 21px;
	border-bottom: solid 1px #e6e6e4;
	margin: 0;
	padding: 8px 0 15px
}
.page-heading.border-top {
	border-top: 10px solid #fcc150
}
.btn-orange, .btn-orange:hover, .btn-orange:focus {
	background: #fd7761;
	border-radius: 0;
	text-transform: uppercase;
	border: 0;
	color: #fff;
	font-family: "proxima_nova_ltsemibold";
	padding: 7px 15px;
}
.border-left {
	border-left: solid 1px #e6e6e4;
}
.border-right {
	border-right: solid 1px #e6e6e4;
}
.border-bottom {
	border-bottom: solid 1px #e6e6e4;
	margin-bottom: 20px
}
.border-top {
	border-top: solid 1px #e6e6e4;
}
.journal-posts-sec {
	padding: 0 20px 10px
}
.journal-posts-sec a{
    color: #5c4f4a;
}
.journal-posts-sec h4, .journal-blocks h4 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "proxima_nova_ltsemibold";
}
.journal-posts-sec .author {
	color: #a5acb1;
	display: block
}
.journal-posts-sec .author a
{
	color: #a5acb1;
}
.journal-posts-sec p {
	color: #a5acb1;
	line-height: 20px;
	padding-top: 15px;
	font-family: 'proxima_nova_ththin';
}
.journal-posts-sec .ss-icon {
	float: none;
	display: inline-block;
	width: 25px;
	line-height: 0
}
.journal-posts-sec img {
	margin: 10px 0 0
}
.journal-posts-sec .ss-right:before, .journal-posts-sec .ss-right.right:after {
	width: 25px;
}
.journal-left {
	width: 395px;
	padding-right: 20px
}
.journal-right {
	width: 190px
}
.journal-blocks .header-block {
	position: relative
}
.journal-blocks h4, .journal-blocks h2 {
	position: absolute;
	top: 23px;
	margin: 0px 0 0 20px
}
.journal-blocks table {
	margin: 5px 20px;
	font-family: 'proxima_nova_ththin';
	width: 94%
}
.journal-blocks table>tbody>tr>td, .journal-blocks .table>tbody>tr>th, .journal-blocks .table>tfoot>tr>td, .journal-blocks .table>tfoot>tr>th, .journal-blocks .table>thead>tr>td, .journal-blocks .table>thead>tr>th {
	padding: 8px 8px 8px 0;
	vertical-align: middle
}
.journal-blocks table .first-row td {
	border: 0
}
.journal-blocks .image-column {
	border-radius: 50%;
	width: 25px;
	height: 25px
}
.journal-blocks .ss-icon {
	font-size: 17px
}
.journal-blocks .ss-icon-green {
	color: #36c8ae
}
.journal-blocks .ss-icon-yellow {
	color: #fcc150
}
.journal-blocks .ss-icon-orange {
	color: #fd7761
}
.journal-blocks .ss-icon-grey {
	color: #a5acb1
}
.journal-blocks .ss-icon-circle {
	color: #fff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: block;
	line-height: 30px;
}
.journal-blocks .ss-icon-circle-orange {
	background: #fd7761;
}
.journal-blocks .ss-icon-circle-green {
	background: #36c8ae
}
.journal-blocks .ss-icon-circle-yellow {
	background: #fcc150
}
.journal-blocks .ss-icon-circle-grey {
	background: #a5acb1
}
.more-categories {
	background: #fbfaf8;
	padding: 10px 20px 20px;
	font-size: 12px;
	font-family: 'proxima_nova_ththin';
	color: #a5acb1
}
.more-categories a {
	font-family: "proxima_nova_ltsemibold";
	color: #fd7761;
}
.more-categories a i {
    margin-left: -15px;
    color: #fd7761;
}
.more-categories h4 {
	font-size: 16px;
	font-family: 'proxima_nova_ltlight';
	color: #5c4f4a;
}
/*profile*/
.profile-sec {
	margin-top: 0
}
.interests-sec {
	padding: 0 10px;
	margin-bottom: 30px;
	margin-top: 30px
}
.interests-sec .white-pod-common {
	padding: 15px 10px
}
.interests-sec h2 {
	font-size: 21px;
	color: #5c4f4a;
	font-weight: 500;
	margin: 0;
	font-family: "proxima_nova_ltsemibold";
	border-bottom: solid 1px #e6e6e4;
	margin-bottom: 20px;
	padding-bottom: 10px
}
.interests-sec ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.interests-sec li {
	background: url(../images/interests-list.png) 10px 6px no-repeat #fff;
	padding: 0px 0 10px 30px
}
.journal-blocks h2, .carousel-pod h2 {
	font-size: 21px;
	color: #5c4f4a;
	font-weight: 500;
	margin: 0;
	font-family: "proxima_nova_ltsemibold";
	margin-left: 20px;
}
.carousel-pod {
	margin: 30px 0;
}
.carousel-pod h2 {
	padding: 15px 0
}
.profile-banner-sec {
	background: url(../images/profile-banner.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 230px;
	font-family: "proxima_nova_ltsemibold";
	font-size: 16px;
}
.profile-banner-sec .settings, .profile-banner-sec .links {
	position: absolute;
	top: 20px
}
.profile-banner-sec .settings {
	left: 110px;
}
.profile-banner-sec .links {
	right: 58px;
	text-align: right;
	font-size: 12px;
	color: #fff;
	font-family: "proxima_nova_ltsemibold";
	text-shadow: 2px 2px #999;
}
.profile-banner-sec a {
	color: #fff
}
.container-sec {
	width: 820px;
	margin: 0 auto;
}
.banner-container {
	color: #fff;
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1
}
.banner-container h1 {
	font-size: 30px;
}
.profile-banner-sec .left, .profile-banner-sec .right {
	width: 330px;
}
.profile-banner-sec .right p {
	margin: 15px 0 0
}
.profile-pic {
	margin-top: -105px
}
.profile-pic img {
	border-radius: 50%;
	border: solid 8px #fff;
	margin: 0 8px
}
.banner-bottom-bar {
	height: 55px;
	background: #f5e2ce;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 0;
	padding-top: 15px
}
.banner-bottom-bar .ss-icon {
	font-size: 16px;
	color: #899199;
	vertical-align: text-top;
	display: inline-block;
	margin: 0 5px
}
.col-1, .col-3{
	width:160px;	
}
.col-2{
	width:460px;	
	margin:0 20px
}
.three-column.journal-page{
	display:table	
}
.three-column.journal-page .col-1, .three-column.journal-page .col-3, .three-column.journal-page .col-2{
	display:table-cell;
	position:relative;
	float:none !important;
	vertical-align:top
}
.three-column.journal-page .col-2{
	padding:0 20px;
	width:500px;		
}

/* Customize container */
@media (min-width: 768px) {
.two-column, .container-sec, .three-column {
	max-width: 700px;
}
}


@media (min-width:992px) {
.two-column, .three-column {
	max-width: 850px;
}
.container-sec {
	max-width: 820px;
}
.three-column .col-md-3, .three-column .col-md-7, .three-column .col-md-2 {
	display: table-cell;
	vertical-align: top;
	float: none;
}
.white-pod {
	background: #fff;
	width: 160px;
}
}

@media (max-width:992px) {
.white-pod {
	width: 100%;
	background: #fff;
	float: none !important
}
.left-sec, .right-sec, .journal-blocks .header-block img {
	width: 100%;
}
.journal-left {
	width: 65%
}
.journal-right {
	width: 30%
}
.profile-banner-sec .left, .profile-banner-sec .right {
	width: 270px;
}
}
.col-center {
	margin: auto;
	float: none
}
.inner-container {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #5c4f4a
}
.white-pod-body {
	font-size: 12px;
	padding: 15px 20px
}
.white-pod-body p{
	padding: 0 !important;
}
.white-pod-body p:last-child {
    margin-bottom: 0 !important;
}
.white-pod-header, .white-pod-footer {
	background: #f3f3f2;
	font-family: "proxima_nova_ltsemibold";
	padding: 5px 0px 3px;
}
.white-pod-footer a {
	/*color: #5c4f4a;*/
     color: #fd7761;
	display: block;
}
.white-pod p {
	padding: 0px 20px 5px;
}
.white-pod h4 {
	margin: 0;
	padding: 13px 20px 5px;
}
.btns-pod .btn {
	border-radius: 0;
	text-transform: uppercase;
	border: 0;
	color: #5c4f4a;
	font-family: "proxima_nova_ltsemibold";
	padding: 7px 15px;
	min-width: 165px
}
.btns-pod .btn:hover, .btns-pod .btn:focus {
	background: #fff;
	color: #eaaf43;
}
.bottom-buttons {
	position: absolute;
	bottom: 0;
	left: 15px;
	
}
.bottom-buttons.bookmark {
	position: absolute;
	bottom: 0px;
	left: 0px;
	
}
.bottom-buttons.bookmark .btn{
	margin-bottom:20px	
}
.btns-pod .btn-next {
	background: #fd7761;
	color: #fff
}
.btn-share {
	color: #eaaf43;
	margin-bottom: 20px
}
/*editor*/
.editor-container {
	position: relative;
}
.editor-container .editor-icons {
	position: absolute;
	right: 20px;
	top: 0;
}
.editor-container .ss-icon {
	color: #fff;
	font-size: 17px;
	background: #fd7761;
	width: 54px;
	padding: 6px 0 2px;
}
.editor-container .ss-camera {
	border-right: solid 1px #e56384;
}
.cke_contents.cke_reset {
	height: 350px !important
}
.cke_editable p:first-child {
}
.cke_toolbox .cke_toolbar:first-child, .cke_toolbox .cke_toolbar:last-child {
	display: none
}
.cke_toolgroup {
	border: 0 !important;
	background: none !important;
	box-shadow: none !important
}
/*  Edited by Satya for editor */
.cke_top {
	/*padding: 0px 8px 2px !important;*/
	background:#dfdfde !important;
	border-bottom:none !important;
	border-top: none!important;
    padding: 6px 8px 2px !important;
    white-space: normal !important;
    box-shadow:none !important;
    background-image: none !important;

}
a.cke_button_on,a.cke_button_off:hover{
	box-shadow: none !important;
    background: #fff !important;
    background-image: none !important;
}
#cke_edit-body-und-0-value{
	display: block;
    border: none; 
    border-bottom: 1px solid #b6b6b6;
    padding: 0;
    box-shadow: none;
}
/*  Edited by Satya for editor */
.cke_toolgroup {
	margin: 2px 6px 2px 0 !important;
}

@media (max-width:991px) {
.btns-pod {
	min-height: 80px;
	margin-top: 20px
}
.btn-share {
	margin-bottom: 0px;
}
.white-pod {
	margin-bottom: 20px
}
}
/*whats new*/
.whats-new-pod {
	background: #323e48;
	color: #adb2b7;
	padding: 0 0 0 20px;
	border-top: solid 1px #58626b;
	margin-top: 16px;
	display: none;
}
.left-sidebar:hover .whats-new-pod {
	display: block;
}
.whats-new-pod h4 {
	background: #323d47;
	font-family: "proxima_nova_ltsemibold";
	font-size: 16px;
	padding: 15px 0 15px 20px;
	margin: 0 0 0 -20px;
	border-bottom: solid 1px #58626b;
}
.whats-new-pod ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.whats-new-pod li {
	border-bottom: solid 1px #58626b;
	padding: 13px 30px 13px 0px;
	white-space: normal;
	line-height: 130%
}
.whats-new-pod li strong {
	font-family: "proxima_nova_ltsemibold";
}
.whats-new-pod li small {
	font-family: 'proxima_nova_ltlight';
	color: #7c848b;
}

/*form*/
.form-horizontal{
	padding:10px 20px 20px
}
.form-horizontal .control-label{
	text-align:left
}
.form-control, .form-control:hover, .form-control:focus, .form-text  {
	border-radius:0;
	box-shadow:none;
	outline:none	;
	background:#f3f3f2;
	border:solid 1px #dfdfde
	
}
.editor_container .form-item .form-text {
	background:none !important;
	border-bottom: none !important;
}
.carousel-sec h4 {
    font-size: 16px;
    font-family: 'proxima_nova_ltlight';
    color: #5c4f4a;
	padding: 0px 20px;
	margin:0 0 20px
	}
	
	.carousel-sec .owl-carousel {
		margin-bottom:20px	
	}
	
	.carousel-sec .owl-carousel:last-child{
		margin-bottom:0px	
	}
	.resources-more{
		padding:0 20px 20px	
	}
.commentlist, .filter-list{
	list-style:none;
	padding:0;
	margin:	0
}

.filter-list a.ss-delete{
	color:#a5acb1	;
	text-decoration:none
}
	.commentlist .avatar {
    float: left;
    margin-right: 10px;
	width:25px;
	height:25px;
    overflow: hidden;
	border-radius:50%;
	position: relative;
}
.comment-author{
font-family: "proxima_nova_ltsemibold";
font-size:16px;

}
.comment-author .date{
	font-size:12px;
	color:#a5acb1	;
	display:block
}
.commentlist .avatar img{
	display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.commentlist .comment-box {
    margin-left: 35px;
}
.commentlist{
	clear: both;
}
.comments-block, .comments-block .commentlist{
	margin-top:20px	
}
.comments-block .commentlist li{
	border-bottom:solid 1px #f3f3f2;
	margin-bottom:20px;
	padding-bottom:5px	
}
.comments-block .commentlist li:last-child{
	margin-bottom:0;
	border:0	
}
.comments-block .form-horizontal {
    padding: 20px 0 0 0;
}
.filter-list{
margin-top:15px

}
.filter-list a, .filter-list .ss-icon, .resources-back .ss-icon{
	color:#5c4f4a;
	font-family: "proxima_nova_ltsemibold";
font-size:14px;
	
}

.filter-list .ss-icon, .resources-back .ss-icon{
	font-size:17px;
	display:inline-block;
	margin-right:10px;
	vertical-align:middle
}

.right-list .ss-icon{

	float:left;
}

.right-list .list-cnt{

	margin-left: 25px;
}

.resources-back{
	padding:5px 10px 0px;
	display:block;
	color:#5c4f4a;
	font-family: "proxima_nova_ltsemibold";
	
}

.myccount-dropdpwn {
	border-radius: 0px;
	    margin-top: 13px;
    border: none;
    font-size: 12px;
}
.myccount-dropdpwn>li>a{
	color:#899199;
	padding:3px 10px;
}
.myccount-dropdpwn>li>a:hover { 
	    background-color: transparent;
	    color: #fa765d;
}
.myccount-dropdpwn .menu { 
	padding: 0px;
	list-style: none;

}
.myccount-dropdpwn .menu li{
list-style: none;
padding:0px;
margin: 0px;
} 
.myccount-dropdpwn .menu li a{ 
	padding:3px 10px;
	display: block;
}
#block-views-user-picture-block, .block.block-views {
	float: left;
}

.user-thumb{
	margin-right: 14px;
	padding: 0px;
}
.user-thumb > li> div > div{
	width: 36px;
	height: 36px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	border: solid 3px #fd7761;
	line-height: 0em;
	}
.user-thumb > li> div > div img {
	display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    vertical-align: top;
}

p:empty {
  display: none;
  }

  /* for scrolling functionality */

 .three-column.journal-page  .fixdiv, .two-column .fixdiv{
  	position: fixed;
  }
  .btnfixdiv{
  position: fixed;
  bottom: 30px;
  float: right;
}




/*-- ================ First Excersice ================ ---*/

/*-- Step1 ---*/
.three-column.excersiceOne-page {
    display: table;
}

.exceroneSteponeCarousel, .exceroneSteponeCarousel .item {
    min-height: 350px !important;
    height: 350px !important;
}

.exceroneSteponeCarousel, .exceroneSteponeCarousel .item:hover{

  -webkit-box-shadow: inset 0 0 0 3px #fd7761;
  -moz-box-shadow: inset 0 0 0 3px #fd7761;
  box-shadow: inset 0 0 0 3px #fd7761;
    -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.exceroneSteponeCarousel .brnone a.item{
	  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
   cursor: default;
}
.exceroneSteponeCarousel .carousel-indicators {
    bottom: 10px;
	}
.exceroneSteponeCarousel .carousel-indicators li {
    border: none;
    margin: 0px;
    background: rgba(0,0,0, 0.5);
}

.exceroneSteponeCarousel .right {
	    right: 8px;
}
.exceroneSteponeCarousel .left {
	    left: 10px;
}

.selectedImage{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    float: right;
}

.selectedImage p{
	    float: left;
    line-height: 50px;
    margin: 0;
}
.selectedImage figure{
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 15px;
	background: url(../images/selectedImage.png) no-repeat;
}
.selectedImage a{
	width: 50px;
	height: 50px;
}
.selectedImage figure a img{
	width: 100%;
    height: inherit;
}
.selectedImage a img:hover{
	border: 1px solid #family-dinners7761;
}
.top-pointer{
	display: block;
	padding:0 0 15px 0;
	text-align: center;
}
.top-pointer h4{
	    font-size: 21px;
    margin: 10px 0 0 0;
    font-weight: 600;
}
    


/*-- Step2 ---*/

.three-column-lg{
	width: 990px;
}

.exceroneSteps2{
	overflow: hidden;
	position: relative;
}

.exceroneSteps2 .btn {
    min-width: 160px;
}
.exceroneSteps2 .btn-back {
	background: #fd7761;
    color: #FFFFFF;
}

.exceroneSteps2 .white-pod .btns-pod {
	position: absolute;
	bottom: 5px;
}

.exceroneSteps2 .white-pod-body-right {
	padding: 15px 0;
}
.exceroneSteps2 .white-pod-body .carousel-inner {
    width: 100%;
}

.exceroneSteps2 .white-pod-body .controls{
	width: 100%;
}


.exceroneSteps2 .white-pod-body .carousel-control.left, .exceroneSteps2 .white-pod-body .carousel-control.right{
        width: 50%;
    float: left;
    display: block;
    background-color: #f3f3f2;
    height: 23px;
    font-size: 12px;
    line-height: 23px;
    background-image:none;
    text-shadow:none;
    color: #949494;
    opacity: 1;
}
.exceroneSteps2 .white-pod-body .carousel-control.left:hover, .exceroneSteps2 .white-pod-body .carousel-control.right:hover{
  
    background-color: #fcc150;
    color: #FFFFFF;
}

.exceroneSteps2 .white-pod-body .carousel-control.left{
	padding-left: 10px;
 }
 .exceroneSteps2 .white-pod-body .carousel-control.right{
    padding-right: 7px;
 }
.exceroneSteps2 .white-pod-body .carousel-control span.left {
   background-position: 3px 20px;
    left: 9px;
    
   /* padding-left: 9px; */
}
.exceroneSteps2 .white-pod-body .carousel-control span.right {
   background-position: -8px 20px;
    right: 6px;
}
.exceroneSteps2 .white-pod-body .carousel-control span {
    background: url("../images/spriteoff.png") 0 0 no-repeat;
}
.exceroneSteps2 .white-pod-body .carousel-control:hover span{
    background: url("../images/spriteon.png") 0 0 no-repeat;
}
.exceroneSteps2 .white-pod-body .carousel-control:hover span.left {
   background-position: 3px 20px;
    left: 9px;
}
.exceroneSteps2 .white-pod-body .carousel-control:hover span.right {
   background-position: -8px 20px;
    right: 6px;
}

.exceroneSteps2Slider, .exceroneSteps2Slider .item {
    min-height: 260px !important;
    height: inherit !important;
    padding-bottom: 23px;
}
.exceroneSteps2Slider li.multiLine {
    line-height: 10px;
    margin-top: 2px;
}
  .exceroneSteps2Slider {
        
}  
.exceroneSteps2 .white-pod-body .controls {
    width: 100%;
    position: relative;
    margin-top: 15px;
}


.exceroneSteps2 .addValue{
	padding:15px 20px;
}
.exceroneSteps2 .addValue-1{
	padding:15px 0px;
}
.exceroneSteps2 .addValue .form-control{
	text-transform: uppercase;
	font-family: 'proxima_nova_rgbold';
	color: #fcc150;
	border-radius: 0;
	text-align: center;
	margin-bottom: 10px;
	border: 0;
	min-height: 36px;
	line-height: 26px;
	    position: relative;
}
.exceroneSteps2 .addValue .form-control:last-child{
	margin-bottom: 0;
}
.exceroneSteps2 .addValue .form-control a{
	position:absolute;
	right:-20px;
	/* background:#333; */
	height:36px;
	width:36px;
	top:0;
	text-decoration:none;
	background-color: #F3F3F2;
	border-left: 1px solid #E6E6E6;
	font-size: 16px;
	line-height: 41px;
}
.exceroneSteps2 .addValue .form-control a i{
	color: #899199;

}
.exceroneSteps2 .addValue .form-control a:hover{
	background-color: #fcc150;
    color: #FFFFFF;
}
.exceroneSteps2 .addValue .form-control a:hover i{
    color: #FFFFFF;
}
.exceroneSteps2 .addValue .btn-add-input{
	background: #f3f3f2;
	text-transform: uppercase;
	color: #899199;
	border-radius: 0;
	text-decoration: none;
	font-style: italic;
}
.exceroneSteps2 .addValue .btn-add-input:hover{
	border: 1px solid #ded9d4;
}

.exceroneSteps2 .addValue .btn-add-value{
	background: #f3f3f2;
	text-transform: uppercase;
	color: #899199;
	border-radius: 0;
	text-decoration: none;
}
.exceroneSteps2 .addValue .btn-add-value:after {
	content: "+";
	font-size: 18px;
	font-family: 'proxima_nova_rgbold';
	margin-left:5px;
}
.exceroneSteps2 .addValue .btn-add-value:hover{
	background:#fcc150;
	color:#FFFFFF;
}

.exceroneSteps2 .addValue .btn-add-value2{
	background: #f3f3f2;
	text-transform: uppercase;
	color: #899199;
	border-radius: 0;
	text-decoration: none;
}
.exceroneSteps2 .addValue .btn-add-value2:before {
	content: "+";
	font-size: 18px;
	font-family: 'proxima_nova_rgbold';
	margin-right:5px;
}
.exceroneSteps2 .addValue .btn-add-value2:hover{
	background:#fcc150;
	color:#FFFFFF;
}




.exceroneSteps2 .col-4{
	  width: 300px;
}
.exceroneSteps2 .col-4 .white-pod{
	width: 100%;
    overflow: hidden;
}
.exceroneSteps2 .white-pod-body ul{
	overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    display: inline-block;
}
.exceroneSteps2 .white-pod-body ul li{
	list-style-type: none;
	display: block;
    
}
.exceroneSteps2 .white-pod-common {
	margin-bottom: 5px;
}



/*-- Step3 ---*/

.selectValues{
	padding: 15px 20px;
}

.selectValues label.btn-select{
	text-transform: uppercase;
	font-family: 'proxima_nova_rgbold';
	color: #FFF;
	color: #fcc150;
	border-radius: 0;
	text-align: center;
	border: 0;
	background: #f3f3f2;
	display: block;
	margin-bottom: 10px;
	min-height: 36px;
	line-height: 26px;

}
.selectValues label.active{
	background: #fcc150;
	color: #FFF;
	-webkit-box-shadow:none;
    box-shadow: none;
}
.selectValues label.btn-select:last-child{
	margin-bottom: 0px;
}

.selectValues .pr10{
	padding-right: 10px;
}
.selectValues .pl10{
	padding-left: 10px;
}


/*-- Step4 ---*/

.exceroneSteps4 p {
	padding: 15px 20px;
    line-height: 20px;
}



/*-- ================ Second Excersice ================ ---*/

/*-- Step1 ---*/
.page-body{
	padding: 0 20px 20px 20px;
}
.page-body p{
	margin-bottom: 20px;
}
.page-body p:last-child{
	margin-bottom: 0;
}


.excertwo .white-pod-common{
	min-height: 315px;
}


/*-- Step4 ---*/

.excertwo .mainReason{
	margin-top: 20px;
}
.excertwo .mainReason .form-control{
	font-style: italic;
}
.excertwo .mainReason .form-control::-webkit-input-placeholder {
	font-size: 14px;
	font-family: 'proxima_nova_ltsemibold';
}
.font-italic{
	font-style: italic;
}




label.userChoice {
        background: #fcc150;
    color: #FFF;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: 'proxima_nova_rgbold';
}
label.userChoice:last-child{
    margin-bottom: 0;
}
.navbar-:hover {
	color: #fa765d;
	background-color: transparent;
	border-bottom: 5px solid #fa765d;
}

.navbar-default .navbar-wmcolor>li>a{
	color: #fa765d !important;
}
.navbar-default .navbar-wmcolor>li>a:hover{
	border: 0;
}

.excertwoStep8Ques{
	padding: 0 0 10px 0;
}
.excertwoStep8Ques label:last-child, .excertwoStep8Ques a:last-child{
	    margin-bottom: 0;
	    text-decoration: none;
}

.excertwoStep8Ques label, .excertwoStep8Ques a{
	    margin-bottom: 5px;
    color: #fa765d;
    padding: 5px 10px;
    display: block;
    font-weight: 600;
}
.excertwoStep8Ques label.active, .excertwoStep8Ques a.active{
	     color: #FFF;
    background: #fcc150;
    text-decoration: none;
}

.excertwoStep8Ques a:hover{
    color: #FFF;
    background: #fcc150;
    text-decoration: none;

}


.excertwo .minheight {
    min-height: 385px;
}


.excertwo .excereightQuestions p{
	margin-bottom: 5px;
}
.excertwo .excereightQuestions textarea{
	margin-bottom: 20px;
}

.fixed-bottom{
    position: fixed;
    bottom: 120px;
}
.fixed-top{
	width: 160px;
    position: fixed;
}
.label-cont{
	background: #FFFAD2;
    min-height: 94px;
    padding: 10px 15px;
    font-weight: bold;
    border: 1px solid #F5F1D9;
    background-color: #faf8ea;
    box-shadow: 0 1px 1px rgb(243, 240, 219);
}

.right-questions{
	padding:0;
}

.excerthree-2 {
	margin:10px 0 0 0;
	background-color: #fbf8e5;
	border: 1px solid #f3eece;
	padding: 20px;
}
.excerthree-2 label{
	font-size: 12px;
	margin: 0 0 5px 0;
	color: #969276;
}
#likely {
	width: 100% !important;
	margin: 0;
}

.excerthree-6 .dl-horizontal{
	font-size: 12px;
    margin: 0 0 10px 0;
    
}
.excerthree-6 .dl-horizontal dt {
    width: 100%;
    text-align: left;
    white-space: normal;
    font-family: 'proxima_nova_ltsemibold';
    font-size: 14px;
    color: #899199;
}

.excerthree-6 .dl-horizontal dd {
      margin-left: 0;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}



.excerthree-6 .panel-group .panel {
    border-radius: 0;
}
.excerthree-6 .panel-default {
    border-color: #f3f3f2;
}
.excerthree-6 .panel-default>.panel-heading {
    background-color: #FFF;
    padding: 0;
}
.excerthree-6 .panel-default>.panel-heading:hover {
    background: #f3f3f2;
}

.excerthree-6 .panel {
    border-radius: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.excerthree-6 .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #FFF;
    padding: 0 15px 10px 15px;
}
.excerthree-6 .panel-title {
    font-size: 14px;
    color: inherit;
}

.excerthree-6 .panel-title>a span{
	float: right;
    font-size: 10px;
    text-transform: uppercase;
    color: #8F959A;
    font-weight: 700;
}
.excerthree-6 .panel-title>a span:before {
	content: "+";
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    font-family: 'ss_gizmoregular';
    margin-right: 3px;
}
.excerthree-6 .panel-title>a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-family: 'proxima_nova_ltsemibold';
    font-weight: 700;
    color: #3b4853;
}

.excerthree-6 .panel > .panel-heading {
position: relative;
}
.excerthree-6 .panel-title > a.collapsed:after {
position: absolute;
content: "+";
    font-size: 14px;
    text-align: center;
    line-height: 13px;
    font-family: 'ss_gizmoregular';
    right: 15px;
}

.excerthree-6 .panel-title > a:after {
 content: '-';
 position: absolute;
 font-size: 20px;
 text-align: center;
 line-height: 8px;
 font-family: 'ss_gizmoregular';
 right: 15px;
}

.excerthree-6 .check-box{
	display: block;
	/* float: right; */
	clear: both;
	text-align: right;
	padding: 0 0 5px 0;
}


/*-- Custom Radio Buttons ---*/

input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left: 30px;
							height: 24px;
							display: inline-block;
							line-height: 26px;
							background-repeat: no-repeat;
							background-position: 0 0;
							font-size: 12px;
							vertical-align: middle;
							cursor: pointer;
							font-weight: 600;
							color: #9ca2a9;
						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -24px;
						}
						label.css-label {
				background-image:url(../images/checkbox.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
			
.exceroneSteps2 .addValue-2 {
    padding: 0;
}
.exceroneSteps2 .addValue-2 .form-control a {
    right: -35px;
}

.label-cont-2 {
        min-height: 148px;
    font-style: italic;
}
.exceroneSteps2 .addValue-3 {
    padding-top: 0;
}

figure .img-responsive{
	width:100%;
}

.exceroneSteps2 .addValue-4 {
	padding: 0 15px;
}
.exceroneSteps2 .addValue-5 {
    padding: 0 0 0 15px;
}
.two-col-excer{

}


/*-- Excer - 5 step -5  ---*/

.two-col-same{

}

.two-col-same label{
vertical-align: text-bottom;
}
.two-col-same label:nth-child(2){

min-height: 100px;
}



/*-- Excersices ID based classes  ---*/
#field-intro-add-more-wrapper p:last-child{
	margin: -20px !important;
	padding-top:20px;
}
#field-intro-add-more-wrapper p img{
	max-width: 100%;
	width: 100% !important;
}

.two-col-same .col-md-6:last-child label {
    min-height: 60px;
}